#head{
    background-color:cornflowerblue;
    color: aliceblue;
    font-style:unset;
}
#news{
    
    background:black;
    background-size:5px 20%;
    color:white;
    font-style: italic;
}


#atp{
    font-style: italic;
    font-size: smaller;
    text-align: center;
}
#sub{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#roark{
    font-size: 0.2cm;
}
#jnanabhumi{
    width:100vw;

}
#college{
    text-align: center;
    
}
input{
    text-align: center;
    margin-left: 35vw;
    width: 50vw;
}
.get{
    margin-left: 45vw;
}



